TELEGRAM_TOKEN=8008874726:AAGyfIFIPUDnmDDN0Cr5xjCF84Cf0NzqYLs
NODE_MODE=production

DB_HOST=aws-0-eu-central-1.pooler.supabase.com
DB_PORT=6543
DB_USER=postgres.hzqptekopyduwhazytud
DB_PASSWORD=JRUkRf4hYqe0uxLM
DB_NAME=postgres
